body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}


.sidebar {
    position: fixed;
    display: block;
}

container a:before {
    height: 54px;
    content: "";
    display:block;
}
