body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}


.sidebar {
    position: fixed;
    display: block;
}

container a:before {
    height: 54px;
    content: "";
    display:block;
}

code.autodoc-module {
    color: black;
}

code.autodoc-name {
    color: black;
    font-weight: bold;
}

div.autodoc-docstring {
    margin-left: 20px;
}
